.module-performance-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 80px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 2rem;
}

.nav-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.main-content-module {
  flex-grow: 1;
  /* padding: 2rem; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.module-tabs {
  display: flex;
  gap: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f9fafb;
  color: #344054;
}

.tab.active {
  background-color: #000;
  color:yellow;
}

.custom-tab-nav {
  display: flex;
  flex-wrap: nowrap;
  min-width: 1360px;
  height: 45px;
  gap: 10px;
  padding: 4px 32px;
  background-color: #fff;
}

.custom-tab {
  min-width: 480px;
  height: 37px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f8f9fa;
  transition: all 0.2s ease;
}

.custom-tab.active {
  background-color: #000;
  color: yellow;
  font-weight: 600;
}